#define DHTPIN 4
#define DHTTYPE DHT22

#define UPDATE_INTERVAL 5000  // update interval in milliseconds
// use 2 on esp32 and 8 on esp32c3
#define LED_BUILTIN 2 // Status LED pin

// set you wifi credentials
#define WIFI_SSID ""
#define WIFI_PASSWORD ""
// manage the wifi power
// - for esp32 classic comment the #define line
// - for esp32c3 uncomment the #define line
// - for esp32c3 with external antenna as in README.md use WIFI_POWER_5dBm
#define WIFI_POWER WIFI_POWER_8_5dBm
#define WIFI_HOSTNAME "esp32c3"

// sensor characteristics
#define PAIRING_CODE "11223344"
#define SENSOR_NAME "DHT22 Sensor"
#define SENSOR_MANUFACTURER "RizzoloCloud Labs"
#define SENSOR_SERIAL "DHT22-000000"
#define SENSOR_MODEL "DHT22-ESP32C3"
#define SENSOR_FIRMWARE "1.0"